[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/unimpaired"]
	path = .vim/bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/nerdcommenter"]
	path = .vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter
[submodule ".vim/bundle/YankRing"]
	path = .vim/bundle/YankRing
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule ".vim/bundle/badwolf"]
	path = .vim/bundle/badwolf
	url = https://github.com/sjl/badwolf
[submodule ".bin/nginx_ensite-repo"]
	path = .bin/nginx_ensite-repo
	url = https://github.com/perusio/nginx_ensite
[submodule ".vim/bundle/eunuch"]
	path = .vim/bundle/eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule ".vim/bundle/vim-nginx"]
	path = .vim/bundle/vim-nginx
	url = https://github.com/fatih/vim-nginx
[submodule ".bin/fasd-repo"]
	path = .bin/fasd-repo
	url = https://github.com/clvv/fasd.git
[submodule ".zprezto"]
	path = .zprezto
	url = https://github.com/maethor/prezto.git
