*
!.gitignore
!.gitconfig

!.screenrc

!.zshrc
!.zshenv
!.zshrc.d/*
!.zshrc.d/S02_misc

!.vimrc
!.vim/*
!.vim/bundle/*

!.mailfilter

!.bashrc

!.muttrc
!.muttrc.d/S*

!.signature
!.forward

!.Xdefaults

!.README
