*
!.gitignore
!.gitconfig

!.screenrc

!.zshrc
!.zshenv
!.zshrc.d/*
!.zshrc.d/S02_misc

!.vimrc
!.vim/*
!.vim/bundle/*
!.vim/colors/*
!.vim/templates/*
!.vim/plugin/*
!.vim/autoload/*
!.vim/spell/fr.utf-8.add

!.mailfilter

!.bashrc

!.muttrc
!.muttrc.d/S*

!.ncmpcpp/config

!.signature
!.forward

!.Xdefaults

!.README
