[user]
	name = Guillaume Subiron
	email = maethor@subiron.org
	signingkey = 5BC2EADB
	signingkey = maethor@subiron.org
[alias]
	graph = log --graph --simplify-by-decoration --pretty=format:'%d' --all
[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[core]
	editor = vim
[merge]
	tool = vimdiff
[push]
	default = current
[difftool "diffpdf"]
  cmd = diffpdf --view \"$LOCAL\" \"$REMOTE\"
